/* ContactForm.css */
.contact-form {
  border: solid 1px #ffffff2e;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the form horizontally */
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.contact-form label {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: red;
  width: 50%; /* Make labels take full width */
  text-align: center; /* Align label text to the left */
}

.contact-form input,
.contact-form textarea {
  border-radius: 0.4rem;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form .error-message {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 1rem;
}

.contact-form button {
  font-size: 1.2rem;
  border-radius: 0.4rem;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  color: #333;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 1rem;
}

.contact-form button:hover {
  background-color: #ff6b6b;
}
